:root {
    /*Colors*/
    --dark: #101010;
    --light: #F3F3F3;
    --grey: #c7c7c7;
    --red: #8c0500;
    --redLight: #da2a2a;

    --header-height: 45px;
}

/*@font-face {*/
/*    font-family: 'Austral-Sans_Stamp-Regular';*/
/*    font-display: swap;*/
/*    src: url('/assets/fonts/AustralSansStamp-Regular.woff2') format('woff2'),*/
/*        url('/assets/fonts/AustralSansStamp-Regular.woff') format('woff');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Black Ground';*/
/*    src: url('../../static/assets/fonts/Black-Ground.woff2') format('woff2'),*/
/*    url('../../static/assets/fonts/Black-Ground.woff') format('woff');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Austral Sans';*/
/*    src: url('../../static/assets/fonts/AustralSansStamp-Regular.woff2') format('woff2'),*/
/*    url('../../static/assets/fonts/AustralSansStamp-Regular.woff') format('woff');*/

/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;

    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--light)
}

body {
    /*font-family: 'Austral Sans', sans-serif !important;*/
    background-color: #7a1006 !important;

    max-width: 100vw;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none !important;
}

li {
    list-style-type: none;
}

p{
    color: var(--light);
}

 h1,  h2, h3, h4, h5{
    color: var(--light)
}
.content {
    margin-top: 8rem;
}
.content h1 {
    font-size: 52px;
}

.content h2 {
    font-size: 20px;
}

/*Page Transition done state*/
.done {
    pointer-events: none;
}
